body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ececff;
}

h1 {
  color: #152540;
}

/* Estilos do cabeçalho */
header {
  background-color: #152540;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 50px;
}

.left-header img {
  width: 180px;
  height: 80px;
  margin-top: 3px;
}

.texto-right-main h2 {
  color: #152540;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.navheader {
  text-align: center;
}

nav ul li {
  margin: 10px;
  padding-right: 40px;
}

nav ul li a {
  color: #fafafa;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.meu-botao {
  background-color: #3d61ff;
  /* cor de fundo do botão */
  border: none;
  /* remova a borda do botão */
  color: white;
  /* cor do texto do botão */
  padding: 10px 20px;
  /* adicione algum espaço dentro do botão */
  text-align: center;
  /* centralize o texto do botão */
  text-decoration: none;
  /* remova o sublinhado do texto do botão */
  display: inline-block;
  /* faça o botão ficar em linha */
  font-size: 16px;
  /* tamanho do texto do botão */
  margin: 4px 2px;
  /* adicione alguma margem ao redor do botão */
  cursor: pointer;
  /* mude o cursor do mouse ao passar sobre o botão */
  border-radius: 8px;
  /* adicione um raio de borda arredondada */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  /* adicione uma sombra */
  transition: all 0.3s ease;
  /* adicione uma transição suave */
  margin-top: 10px;
}

.meu-botao:hover {
  background-color: #2c4d85;
  /* mude a cor de fundo quando passar o mouse */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* adicione uma sombra maior */
}

/* Estilos do formulário */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.cadastro-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #152540;
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #3d61ff;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  margin-left: 150px;
}

input[type="submit"]:hover {
  background-color: #2c4d85;
  color: #f2f2f2;
}

.insira {
  margin-top: 3%;
  font-size: 16px;
}

.opcoes {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0px;
  align-items: baseline;
}

.opcoes input[type="checkbox"] {
  margin-left: -50px;
}

.opcoes label {
  display: flex;
  align-items: center;
}

.foto {
  margin-top: 20px;
}

.info {
  margin-top: 15px;
}

.rodape {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #152540;
  color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 0%;
  bottom: 0;
}

footer h2 {
  font-size: 16px;
  margin-top: 8px;
}

@media screen and (max-width: 375px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  .left-header img {
    width: 100px;
    height: 70px;
    margin-left: 10px;
  }

  textarea#pergunta {
    width: 30px 20px;
  }

  nav ul li {
    margin: 0;
    padding-right: 20px;
  }

  .meu-botao {
    padding: 10px;
    width: 70px;
    
  }

  label {
    margin-right: 2px;
  }

  .opcoes input[type="checkbox"] {
    margin-left: 0px;
  }

  #pergunta {
    width: 270px;
  }

  input[type="submit"] {
    margin-left: 0;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
  }

  footer h2 {
    font-size: 12px;
  }
}